:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --alternative-color: #ffffff;
  --adress-footer-color: rgb (255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --accent-bg-color: #f5f4fa;
  --alternative-bg-color: #2f303a;
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-border-header: #ececec;
  --color-border-cards: #eeeeee;
  --color-overlay-gradient: rgba(47, 48, 58, 0.4);
  --color-social-link: #afb1b8;
  --background-social-link-footer: rgba(255, 255, 255, 0.1);
  --background-transparent: rgba(47, 48, 58, 0.8);
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.horizontal-flex {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  color: var(--logo-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}
.accent {
  color: var(--accent-color);
}
/* отключаю стили списков*/
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ----header---- */
header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--color-border-header);
}
.link {
  text-decoration: none;
  margin-right: 50px;
}
.horizontal-flex.header-address {
  margin-left: auto;
}
.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
/*
.site-nav-link,
.site-nav-link:visited {
  color: var(--title-text-color);
}
*/
.email-telephone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.link:hover,
.link:focus,
.current {
  color: var(--accent-color);
  position: relative;
}
.current::after {
  position: absolute;
  content: '';
  display: block;
  left: 0px;
  bottom: -40px;

  width: 100%;

  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.email-telephone-link {
  display: inline-flex;
  align-items: center;
  color: var(--primary-text-color);
  fill: var(--primary-text -color);
}
.email-telephone-link:focus,
.email-telephone-link:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.email-telephone-link-icon {
  fill: inherit;
}

.email-telephone {
  margin-left: 10px;
}

/* ----end header---- */

/*------hero----------*/

.hero {
  background-color: var(--alternative-bg-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      var(--color-overlay-gradient),
      var(--color-overlay-gradient)
    ),
    url('../images/hero-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-h1 {
  margin-left: auto;
  margin-right: auto;
  color: var(--alternative-color);
  width: 700px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}
.button-hero {
  background-color: var(--accent-color);
  color: var(--alternative-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--color-shadow);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  /*margin-bottom: 200px;*/
}

/*------end hero------*/

/*------section-------*/
img {
  display: block;
}
.section {
  background-color: var(--primary-bg-color);
  padding-top: 94px;
  /*--padding-bottom: 94px;--*/
}
.section-h2 {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

/*------end section---*/

/*---features-list----*/

.features-list-h3 {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.features-item {
  display: block;
  width: 270px;
  margin-right: 30px;
}
.features-item:last-child {
  margin-right: 0;
}
.features-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--accent-bg-color);
}
.features-item-link-icon {
  width: 70px;
  height: 70px;
}

.features > p {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0px;
}
/*--end features-list-*/

/*-----actions----*/
.actions {
  padding-bottom: 94px;
}

.actions .list li:not(:last-child) {
  margin-right: 30px;
}
.actions-card {
  position: relative;
}
.actions-card-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: var(--background-transparent);
}
.actions-card-description p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
  margin-bottom: 27px;
  color: var(--alternative-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
/*-----end actions----*/

/*--------teams-------*/
.teams {
  padding-bottom: 94px;
  background-color: var(--accent-bg-color);
}
.teams-list {
  display: flex;
}

.teams-card {
  background: var(--primary-bg-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.teams-card:not(:last-child) {
  margin-right: 30px;
}
.card-name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-label {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;

  text-align: center;
}
.card-label p {
  margin: 0;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list-item {
  margin-right: 10px;
}
.social-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: inherit;
  fill: var(--color-social-link);
}
.social-list-item-link:hover,
.social-list-item-link:focus {
  background-color: var(--accent-color);
  fill: var(--alternative-color);
}
.social-list-item-link-icon {
  width: 20px;
  height: 20px;
  fill: inherit;
}

/*------end teams-----*/

/*-----customers------*/
.customers {
  padding-bottom: 94px;
}
.customers-list {
  display: flex;
}
.customers-item {
  display: flex;
  width: 170px;
  height: 90px;
}
.customers-item:not(:last-child) {
  margin-right: 30px;
}
.customers-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 1px solid var(--color-social-link);
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--color-social-link);
}
.customers-item-link:hover,
.customers-item-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.customers-item-link-logo {
  fill: inherit;
}
/*-----end customers------*/

/*------footer--------*/
.footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--alternative-bg-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  color: var(--alternative-color);
  margin-bottom: 20px;
}

.footer-list.not-address {
  color: var(--adress-footer-color);
  font-style: normal;
  font-weight: 400;
}
.no-color {
  color: var(--adress-footer-color);
}

.street.link {
  color: var(--alternative-color);
  font-style: normal;
  margin-right: 0;
}
.footer-list {
  margin-bottom: 9px;
}
.footer-address {
  padding-right: 70px;
  width: 302px;
}
.footer > .container {
  display: flex;
  align-items: baseline;
}
.join-watchword {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--alternative-color);
}
.social-list-item-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-social-link-footer);
  fill: var(--alternative-color);
}
.social-list-item-link-footer:hover,
.social-list-item-link-footer:focus {
  background-color: var(--accent-color);
}

/*------ end footer--------*/

/*------styles for portfolio-------------*/
.our-works {
  margin-bottom: 94px;
}

.filters-our-works {
  margin-bottom: 34px;
  padding-bottom: 16px;
  justify-content: center;
}
.our-works-button {
  cursor: pointer;
  display: inline-block;
  background-color: var(--accent-bg-color);
  color: var(--title-text-color);
  border: none;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
}
.our-works-button {
  margin-right: 8px;
}

.our-works-button:hover,
.our-works-button:focus {
  background-color: var(--accent-color);
  color: var(--alternative-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.grid-flex {
  display: flex;
  flex-wrap: wrap;
}
.our-works-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.our-works-card-link:hover,
.our-works-card-link:focus {
  background: var(--primary-bg-color);

  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-box-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid var(--color-border-cards);
  border-left: 1px solid var(--color-border-cards);
  border-bottom: 1px solid var(--color-border-cards);
}

.list-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list-description {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
  font-size: 16px;
  line-height: 1.875;
}
.grid-flex li {
  margin-right: 30px;
  margin-bottom: 30px;
}
.grid-flex li:nth-child(3n) {
  margin-right: 0;
}
.grid-flex li:nth-last-child(3-n) {
  margin-bottom: 0;
}

.last-child {
  margin-right: 0;
}
/*------end styles for portfolio-------------*/
/* цвет текста #757575
    цвет заголовков #212121
    синий цвет выделенных заголовков
        лого, кнопок #2196F3
    цвет лого #000000
    цвет белого текста и белого фона #FFFFFF
    цвет серого фона для кнопок и сектора #F5F4FA
    цвет фона футтера #2F303A
    цвет адреса в футере #FFFFFF 60%
    */ ;
